/* Tag = null, Class = ".", ID = "#" */
body {
    color: #0F141E;
    background: #F1F1F1;
}

.header {
    margin-top: 100px;
}

.container {
    max-width: 1500px;
    margin: auto;
}

a {
    text-decoration: none;
    color: #333
}
a:hover {
    color: orange;
}


.card {
    border: 2px solid #0F141E;
    font: 20px Arial;
    border-radius: 10px;
    background-color: azure;
    padding: 15px;
    margin-inline: 10px;
    padding-bottom: 25px;
}

.card ol, ul {
    margin-top: 10px;
    margin-bottom: 0
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
    float: left;
    margin-left: 20px;
    
}


.first_name {
    font: 40px Arial;
    margin-left: 250px;
    position: relative;

}

.about {
    font: 25px Arial;
    margin-left: 250px;
    margin-bottom: 80px;
}

.table {
    width: 100%;
    background: #fff;
    border-collapse: collapse;
}

.table th, td {
    border: 2px solid #0F141E;
}

.table th:nth-child(even), td:nth-child(odd){
    background: #eee;
}



.label_name {
    margin-top: 5px;
    margin-left: 2px;
    margin-bottom: 12px;
}

.card a, label{
    margin-left: 5px;
    margin-bottom: 10px;
}

.card textarea {
    margin-left: 5px;
    margin-top: 4px;
}

.btn{
    margin-left: 15px;
    margin-right: 0px;
    background: #111;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font: 20px Arial;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover{
    background: #333;
}

.navbar {
    margin-bottom: 10px;
    background: azure;
    font: 20px Arial;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.navbar ul {
    list-style: none;
    margin: 0;
    display: flex;
    padding: 0 20px;
}

.navbar ul li {
    margin-right: 0px;
    padding: 15px 10px 15px 10px;
}

.navbar ul li:hover {
    background: rgb(227, 251, 251);
}

.navbar ul li a {
    text-decoration: none;
    color: #333;
}

.form h2 {
    font: 30px Arial;
    font-weight: bold;
    margin-left: 15px
}

.form-group input, 
.form-group textarea {
    width: 98%;
    box-sizing: border-box;
    border: 1px solid #0F141E;
    border-radius: 5px;
    padding: 5px 10px 5px 5px;
    margin-bottom: 10px;
    margin-left: 15px;
    font: 20px Arial;
}

.form-group label {
    margin-left: 15px;
    font: 20px Arial;
    display: block;
    margin-bottom: 0px;
    font-weight: bold;
}
.form-row {
    margin-bottom: 10px;
    display: flex;
}

.form-row .form-group label{
    margin: 10px;
    margin-left: 15px;
}

.form-row .form-group {
    margin-right: 20px;
    width: 50%;
}


@media screen and (max-width: 500px) {
    .avatar {
        width: 250px;
        height: 250px;
        margin-left: 25%;
        margin-right: 25%;
        float: none;
        position: static;
        text-align: center;
    }
    

    .first_name {
        margin: 0px;
        display: inline-block;
        position: relative;
        text-align: center;
        margin-left: 0px;
    }

    .about {
        margin: 0px;
        display: inline-block;
        position: relative;
        text-align: center;
        margin-left: 0px;
    }
}